
<div>
<div class="pageload-inner">
<div class="sk-rotating-plane"></div>
</div>
</div>
 
<div class="app layout-fixed-header">
<%= render 'sidebar' =%>
 
 
<div class="main-panel">
 
<div class="header navbar">
<div class="brand visible-xs">
 
<div class="toggle-offscreen">
<a href="javascript:;" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
<span></span>
<span></span>
<span></span>
</a>
</div>
 
 
<a class="brand-logo">
<span>PayBox</span>
</a>
 
</div>
<ul class="nav navbar-nav hidden-xs">
<li>
<a href="javascript:;" class="small-sidebar-toggle ripple" data-toggle="layout-small-menu">
<i class="icon-toggle-sidebar"></i>
</a>
</li>
<li class="searchbox">
<a href="javascript:;" data-toggle="search">
<i class="search-close-icon icon-close hide"></i>
<i class="search-open-icon icon-magnifier"></i>
</a>
</li>
<li class="navbar-form search-form hide">
<input type="search" class="form-control search-input" placeholder="Start typing...">
<div class="search-predict hide">
<a href="#">Searching for 'purple rain'</a>
<div class="heading">
<span class="title">People</span>
</div>
<ul class="predictive-list">
<li>
<a class="avatar" href="#">
<img src="images/face1.jpg" class="img-circle" alt="">
<span>Tammy Carpenter</span>
</a>
</li>
<li>
<a class="avatar" href="#">
<img src="images/face2.jpg" class="img-circle" alt="">
<span>Catherine Moreno</span>
</a>
</li>
<li>
<a class="avatar" href="#">
<img src="images/face3.jpg" class="img-circle" alt="">
<span>Diana Robertson</span>
</a>
</li>
<li>
<a class="avatar" href="#">
<img src="images/face4.jpg" class="img-circle" alt="">
<span>Emma Sullivan</span>
</a>
</li>
</ul>
<div class="heading">
<span class="title">Page posts</span>
</div>
<ul class="predictive-list">
<li>
<a class="avatar" href="#">
<img src="images/unsplash/img2.jpg" class="img-rounded" alt="">
<span>The latest news for cloud-based developers </span>
</a>
</li>
<li>
<a class="avatar" href="#">
<img src="images/unsplash/img2.jpg" class="img-rounded" alt="">
<span>Trending Goods of the Week</span>
</a>
</li>
</ul>
</div>
</li>
</ul>
<ul class="nav navbar-nav navbar-right hidden-xs">
<li>
<a href="javascript:;" class="ripple" data-toggle="dropdown">
<span>EN</span>
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
<li>
<a href="javascript:;">English</a>
</li>
<li>
<a href="javascript:;">Russian</a>
</li>
<li>
<a href="javascript:;">French</a>
</li>
<li>
<a href="javascript:;">Spanish</a>
</li>
</ul>
</li>
<li>
<a href="javascript:;" class="ripple" data-toggle="dropdown">
<i class="icon-bell"></i>
</a>
<ul class="dropdown-menu notifications">
<li class="notifications-header">
<p class="text-muted small">You have 3 new messages</p>
</li>
<li>
<ul class="notifications-list">
<li>
<a href="javascript:;">
<div class="notification-icon">
<div class="circle-icon bg-success text-white">
<i class="icon-bulb"></i>
</div>
</div>
<span class="notification-message"><b>Sean</b> launched a new application</span>
<span class="time">2s</span>
</a>
</li>
<li>
<a href="javascript:;">
<div class="notification-icon">
<div class="circle-icon bg-danger text-white">
<i class="icon-cursor"></i>
</div>
</div>
<span class="notification-message"><b>Removed calendar</b> from app list</span>
<span class="time">4h</span>
</a>
</li>
<li>
<a href="javascript:;">
<div class="notification-icon">
<div class="circle-icon bg-primary text-white">
<i class="icon-basket"></i>
</div>
</div>
<span class="notification-message"><b>Denise</b> bought <b>Urban Admin Kit</b></span>
<span class="time">2d</span>
</a>
</li>
<li>
<a href="javascript:;">
<div class="notification-icon">
<div class="circle-icon bg-info text-white">
<i class="icon-bubble"></i>
</div>
</div>
<span class="notification-message"><b>Vincent commented</b> on an item</span>
<span class="time">2s</span>
</a>
</li>
<li>
<a href="javascript:;">
<span class="notification-icon">
<img src="images/face3.jpg" class="avatar img-circle" alt="">
</span>
<span class="notification-message"><b>Jack Hunt</b> has <b>joined</b> mailing list</span>
<span class="time">9d</span>
</a>
</li>
</ul>
</li>
</ul>
</li>
<li>
<a href="javascript:;" class="ripple" data-toggle="dropdown">
<%= image_tag(current_user.avatar.url(:medium), :class => "header-avatar img-circle") %>
<span><%= current_user.first_name %>&nbsp;<%= current_user.last_name %></span>
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
<li>
<a href="/users/edit">Settings</a>
</li>
<li>
<a href="javascript:;">Upgrade</a>
</li>
<li>
<a href="javascript:;">
<span class="label bg-danger pull-right">34</span>
<span>Notifications</span>
</a>
</li>
<li role="separator" class="divider"></li>
<li>
<a href="javascript:;">Help</a>
</li>
<li>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
</li>
</ul>
</li>

</ul>
</div>
 
 
<div class="main-content">
<div class="m-x-n-g m-t-n-g overflow-hidden">
<div class="row">
<div class="col-sm-12">
<div class="card card-block bg-white">
<h4 class="card-title text-center">Announcements<div class="pull-right"><a href="/announcements/new"><button class="btn btn-primary">New Announcement</button></a></div></h4>

</div>
</div>
</div>


  </div>
<div class="row same-height-cards">

<% @announcement.each do |announcement| %>
<div class="col-md-6">
<div class="card no-border bg-white">
<div class="card-block">
<div class="p-a">
<p><%= sanitize(announcement.text.truncate(400, separator: '</p>')) %></p>
</div>
<div class="">
<%= link_to  announcement_path(announcement), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm btn-icon pull-left card-link" do %>

<i class="icon-trash"></i>
<span>Delete</span>
<% end %>&nbsp;
<%= link_to edit_announcement_path(announcement), class: "btn btn-info btn-sm btn-icon pull-left" do %>

<i class="icon-pencil"></i>
<span>Edit</span>
<% end %>

<a href="#" class="card-link pull-right"><i class="icon-clock"></i>&nbsp;<strong><%= time_ago_in_words(announcement.created_at) %>&nbsp;ago</strong></a>

</div>
</div>
</div>
</div>

<% end %>
</div>
</div>
 
</div>
 
 
<footer class="content-footer">
<nav class="footer-right">
<ul class="nav">
<li>
<a href="javascript:;">Feedback</a>
</li>
<li>
<a href="javascript:;" class="scroll-up">
<i class="fa fa-angle-up"></i>
</a>
</li>
</ul>
</nav>
<nav class="footer-left hidden-xs">
<ul class="nav">
<li>
<a href="javascript:;"><span>About</span> PayBox</a>
</li>
<li>
<a href="javascript:;">Privacy</a>
</li>
<li>
<a href="javascript:;">Terms</a>
</li>
<li>
<a href="javascript:;">Help</a>
</li>
</ul>
</nav>
</footer>
 

 
</div>

