
<div>
<div class="pageload-inner">
<div class="sk-rotating-plane"></div>
</div>
</div>
 
<div class="app layout-fixed-header">
<%= render 'sidebar' =%>
 
 
<div class="main-panel">
 
<%= render 'header' =%>
 
<div class="main-content">
<div class="m-x-n-g m-t-n-g overflow-hidden">
<div class="row">
<div class="col-sm-12">
<div class="card card-block bg-white">
<h4 class="card-title text-center">Announcements<div class="pull-right"><a href="/announcements/new"><button class="btn btn-primary">New Announcement</button></a></div></h4>

</div>
</div>
</div>


  </div>
<div class="row same-height-cards">

<% @announcement.each do |announcement| %>
<div class="col-md-6">
<div class="card no-border bg-white">
<div class="card-block">
<div class="p-a">
<p><%= sanitize(announcement.text.truncate(400, separator: '</p>')) %></p>
</div>
<% if current_user.admin == true %>
<div class="">
<%= link_to  announcement_path(announcement), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm btn-icon pull-left card-link" do %>

<i class="icon-trash"></i>
<span>Delete</span>
<% end %>&nbsp;
<%= link_to edit_announcement_path(announcement), class: "btn btn-info btn-sm btn-icon pull-left" do %>

<i class="icon-pencil"></i>
<span>Edit</span>
<% end %>

<a href="#" class="card-link pull-right"><i class="icon-clock"></i>&nbsp;<strong><%= time_ago_in_words(announcement.created_at) %>&nbsp;ago</strong></a>

</div>
<% else %>
<% end %>
</div>
</div>
</div>

<% end %>
</div>
</div>
 
</div>
 
 
<footer class="content-footer">
<nav class="footer-right">
<ul class="nav">
<li>
<a href="javascript:;">Feedback</a>
</li>
<li>
<a href="javascript:;" class="scroll-up">
<i class="fa fa-angle-up"></i>
</a>
</li>
</ul>
</nav>
<nav class="footer-left hidden-xs">
<ul class="nav">
<li>
<a href="javascript:;"><span>About</span> PayBox</a>
</li>
<li>
<a href="javascript:;">Privacy</a>
</li>
<li>
<a href="javascript:;">Terms</a>
</li>
<li>
<a href="javascript:;">Help</a>
</li>
</ul>
</nav>
</footer>
 

 
</div>

