
 
<div class="pageload">
<div class="pageload-inner">
<div class="sk-rotating-plane"></div>
</div>
</div>
 
<div class="app signup usersession">
<div class="session-wrapper">

<div class="page-height-o row-equal align-middle">
<div class="column">
<div class="card bg-white no-border">
<div class="card-block">
<div role="form" class="form-layout">
<div class="text-center m-b">
<h4 class="text-uppercase">Register Now</h4>
<p>Join a growing community.</p>
</div>
<div class="form-inputs">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="name">
<label class="text-uppercase">Name</label>
<%= f.text_field :first_name, class:'form-control input-lg first',placeholder:"First Name", autofocus: true %>
<%= f.text_field :last_name, class:'form-control input-lg',placeholder:"Last Name", autofocus: true %>
</div>
  <div class="field">
    <label class="text-uppercase">Your current email address</label>
    <%= f.email_field :email, class:'form-control input-lg',placeholder:"Email", autofocus: true %>
  </div>

  <div class="field">
    <label class="text-uppercase">Create a password</label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class:'form-control input-lg',placeholder:"Password", autocomplete: "off" %>
  </div>

  <div class="field">
    <label class="text-uppercase">Confirm your password</label>
    <%= f.password_field :password_confirmation, class:'form-control input-lg', placeholder:"Confirm Password", autocomplete: "off" %>
  </div>
  <div class="field">
    <label class="text-uppercase">Phone Number</label>
    <%= f.text_field :phone, class:'form-control input-lg',placeholder:"Phone Number", autofocus: true %>
  </div>
  <div class="field">
    <label class="text-uppercase">Address</label>
    <%= f.text_field :address, class:'form-control input-lg',placeholder:"Address", autofocus: true %>
  </div>
<div class="field">
    <label class="text-uppercase">Profile Pic</label>
    <%= f.file_field :avatar, class:'form-control input-lg', autofocus: true %>
  </div>
<div class="field">
    <label class="text-uppercase">Bank Account Name</label>
    <%= f.text_field :account_name, class:'form-control input-lg',placeholder:"Bank Account Name", autofocus: true %>
  </div>
<div class="field">
    <label class="text-uppercase">Bank Account Number</label>
    <%= f.text_field :account_number, class:'form-control input-lg',placeholder:"Bank Account Number", autofocus: true %>
  </div>
<div class="field">
    <label class="text-uppercase">Account Description</label>
    <%= f.text_field :account_description, class:'form-control input-lg',placeholder:"Account Description", autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:'btn btn-primary btn-block btn-lg m-b' %>
  </div>
<% end %>

</div>
<%= render "devise/shared/links" %>

<p class="text-center"><small><em>By clicking Create account you agree to our <a href="#">terms and conditions</a></em></small>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
 
<footer class="session-footer">
<nav class="footer-right">
<ul class="nav">
<li>
<a href="javascript:;">Feedback</a>
</li>
<li>
<a href="javascript:;" class="scroll-up">
<i class="fa fa-angle-up"></i>
</a>
</li>
</ul>
</nav>
<nav class="footer-left hidden-xs">
<ul class="nav">
<li>
<a href="javascript:;"><span>About</span> PayBox</a>
</li>
<li>
<a href="javascript:;">Privacy</a>
</li>
<li>
<a href="javascript:;">Terms</a>
</li>
<li>
<a href="javascript:;">Help</a>
</li>
</ul>
</nav>
</footer>
 
</div>
