<h1>Verify</h1>

<%= form_tag '/verification' do |f| %>
  <div class="field">
    <%= label_tag :code %>
    <%= text_field_tag :code %>
  </div>
  <div class="actions">
    <%= submit_tag 'Continue Login' %>
    <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </p>
  </div>
<% end %>