
<html>
  <head>
    <title><%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %></title>
    <% if @meta_description.present? %>
    <meta name="description" content="<%= @meta_description %>">
    <% end %>

    <%= csrf_meta_tags %>

   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
<meta property="og:url" content="http://www.paybox.herokuapp.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="PayBox" />
  <meta property="og:description" content="Your description" />
  <meta property="og:image" content="http://www.your-domain.com/path/image.jpg" />


  </head>

  <body>
    
    <%= yield %>
    <script src="https://paybox.herokuapp.com/scripts/app.min.js"></script>
 
<script src="https://paybox.herokuapp.com/vendor/flot/jquery.flot.js"></script>
<script src="https://paybox.herokuapp.com/vendor/flot/jquery.flot.resize.js"></script>
<script src="https://paybox.herokuapp.com/vendor/flot/jquery.flot.categories.js"></script>
<script src="https://paybox.herokuapp.com/vendor/flot/jquery.flot.stack.js"></script>
<script src="https://paybox.herokuapp.com/vendor/flot/jquery.flot.time.js"></script>
<script src="https://paybox.herokuapp.com/vendor/flot/jquery.flot.pie.js"></script>
<script src="https://paybox.herokuapp.com/vendor/flot-spline/js/jquery.flot.spline.js"></script>
<script src="https://paybox.herokuapp.com/vendor/flot.orderbars/js/jquery.flot.orderBars.js"></script>
 
 
<script src="https://paybox.herokuapp.com/scripts/helpers/sameheight.js"></script>
<script src="https://paybox.herokuapp.com/scripts/ui/dashboard.js"></script>
 <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57d8d89470d2673d26f3b87d/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  </body>
</html>
